#sidebar {
    background-color: #a0a0a0;
    width: 12rem;
    position: absolute;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
}

#country {
    color: white;
}

@media screen and (max-width:550px) {
    .showSidebar {
        display: block;
    }

    #sidebar {
        width: 7rem;
    }

    .hideSidebar {
        display: none;
    }

}