#sidebar {
    background-color: #cfcfcf;
    width: 12rem;
    position: absolute;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
    color: black;
}

#country {
    color: white;
}

@media screen and (max-width:540px) {
    .showSidebar {
        display: block;
    }

    #sidebar {
        width: 8rem;
    }

    .hideSidebar {
        display: none;
    }

}